USE [master]
GO
/****** Object:  Database [Chatter2]    Script Date: 11/15/2017 11:20:49 AM ******/
CREATE DATABASE [Chatter2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chatter2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Chatter2.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Chatter2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Chatter2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chatter2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chatter2]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 11/15/2017 11:20:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ID] [int] NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[Message] [nvarchar](140) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Chat] ADD  CONSTRAINT [DF_Chat_TimeStamp]  DEFAULT (getdate()) FOR [TimeStamp]
GO
USE [master]
GO
